.text {
    font-size: 16px;
}

.Card{
    border-radius: 20px;
    overflow: hidden;
    background-color: #77c9d4;
    margin-bottom: 20px;
}

.Card > h2 {
    background-color: #e6f9fd;
    padding-left: 5px;
}

.CardContent{
    padding-left: 5px;
}