.text {
    font-size: 16px;
}

.Card{
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color: #77c9d4;
    margin-bottom: 20px;
}

.Card > h2 {
    background-color: #e6f9fd;
    padding-left: 5px;
}

.Card > h2 > em {
    float: right;
    font-size: 14px;
    padding: 6px;
}

@media (max-width: 700px) {
    .Card > h2 > em {
        display: none; 
    }
}

.CardContent{
    padding-left: 5px;
}

.CardFooter{
    padding-left: 5px;
    padding-bottom: 10px;
}

.CardFooter > p{
    margin: 0px 0px 0px 0px;
    font-size: 14px;
}