.container{
    float:left;
}

.img {
    height: 45px;
    padding: 5px 20px 5px 5px;
}
.link{
    float: left;
    padding-right: 10px;
    color: #07889b;
    text-overflow: ellipsis;
}

@media (max-width: 900px) {
    .link{
        display:none;
    }
}
