.accordion {
    width: 100%;
    margin: 0;
    border-width: 0px 1px 1px 1px;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
}

.accordion:nth-of-type(1) {
    border-top-width: 1px
}

.accordionTitle {
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: 500;
    display: flex;
    padding-left: 20px;
    height: 80px;
    line-height: 80px;
}

.accordionTitle:hover {
    cursor: pointer;
}

.accordionContent {
    overflow: hidden;
    height: 100%;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
    background-color: #e1e8f9;
}

.accordionContent[aria-expanded="false"] {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordionContent > div{
    padding-top: 10px;
}

.topContent {
    width: 100%;
    min-width: 250px;
    max-width: 600px;
    margin: 0 auto;
}

.bottomContent {
    display: block;
    padding: 10px;
}

.bottomContent > p {
    font-size: 16px;
}

.bottomContent > em {
    font-size: 14px;
}

.bottomContent > h2{
    color: #e37222;
}

.footer{
    float: right;
    padding: 5px;
}

.expandIcon{
    margin-left: auto;
    padding-right: 10px;
}