.portfolio{
    background-color:#d5d5d5;
    height: auto;
}

.portfolio > div{
    margin: 0 auto;
    width: 70%;
    padding-top: 1px;
}

@media (max-width: 800px) {
    .portfolio > div {
        width: 95%;
    }
}